{% extends 'base.html' %}
{% load crispy_forms_tags  %}
{% block title %}
    <h2>All groups</h2>
{% endblock %}
{% block main %}
<div class="search">
        <form action="" method="GET">
        {{filter.form|crispy}}
        <input type="submit" value="Submit">
        </form>
</div>
        <a href="{% url 'groups:create' %}">Create new</a>
{% include 'includes/groups-table.html' %}
{% include 'includes/paginator.html' %}

{% endblock %}