{% extends 'base.html' %}
{% load crispy_forms_tags  %}
{% block title %}
    <h2>Update group</h2>
{% endblock %}
{% block main %}
<div class="update">
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Update">
    </form>
</div>

    {% with students=teachers %}
        {% include 'includes/teachers-table.html' %}
    {% endwith %}
    {% with students=students %}
        {% include 'includes/students-table.html' %}
    {% endwith %}
{% endblock %}