{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h2>You logged out</h2>
{% endblock %}
{% block main %}
<div class="create">
    <a class="btn btn-success" href="{% url 'accounts:login' %}">Login</a>
</div>
{% endblock %}