{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h2>Account update</h2>
{% endblock %}
{% block main %}
<div class="create">
   <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{user_form|crispy}}
    {{profile_form|crispy}}
     <input type="submit" value="Update">
   </form>
</div>
{% endblock %}