{% extends 'base.html' %}
{% load crispy_forms_tags  %}
{% block title %}
    <h2>All teacher</h2>
{% endblock %}
{% block main %}
    <div class="search">
        <form action="">
            {{filter.form|crispy}}
            <input type="submit" value="Submit">
        </form>
    </div>
    {% include 'includes/teachers-table.html' %}
    {% include 'includes/paginator.html' %}
{% endblock %}