{% extends 'base.html' %}
{% block title %}
    <h2>Delete teacher {{teacher.first_name}} {{teacher.last_name}}</h2>
{% endblock %}
{% block main %}
<div class="delete">
    <form method="POST">
        {% csrf_token %}
     <input type="submit" value="Delete">
       <a class="cancel_button" href="{% url 'teachers:list' %}">Cancel</a>
   </form>
</div>
{% endblock %}