{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h2>Update teacher</h2>
{% endblock %}
{% block main %}
    <div class="update">
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}