{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h2>Update student</h2>
{% endblock %}
{% block main %}
<div class="update">
   <form method="POST">
       {% csrf_token %}
<!--        {{form.as_p}}-->
       {{form|crispy}}
     <input type="submit" value="Update">
   </form>
</div>
{% endblock %}