{% extends 'base.html' %}
{% load crispy_forms_tags  %}
{% block title %}
    <h2>All student</h2>
{% endblock %}
{% block main %}
    <div class="search">
        <form action="/students/">
            {{filter.form|crispy}}
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>
 {% include 'includes/students-table.html' %}
 {% include 'includes/paginator.html' %}
{% endblock %}