*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}


/* MENU */
.menu__list{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    align-self: center;
    width: 100%;
}
.menu__logo a{
    display: block;
}
.menu__logo img{
    width: 80px;
}
.menu__item{
    padding: 10px 20px;
}
/* MENU */

h2{
    padding:10px;
    width:500px;
    margin:0 auto;
    text-align:center;
    position:relative;
}

h2:after {content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background:rgb(81, 227, 213);
    top: -10%;
    margin: 0 auto;
    left: 0;
    right: 0;}
h2:before {content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background:rgb(81, 227, 213);
    top: 110%;
    margin: 0 auto;
    left: 0;
    right: 0;}



/* TABLE */
table {
    border-collapse: collapse;
    color: #686461;
  }
  caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
  }
  th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
  }
  td {
    padding: 10px;
  }
  tr:nth-child(odd) {
    background: white;
  }
  tr:nth-child(even) {
    background: #E8E6D1;
  }
/* TABLE */


/* FORM */
.search, .delete, .create, .update{
    width: 500px;
    margin: 0 auto;
}
  label {
    position: relative; /* to contain absolute elements */
    padding-left:30px; /* free space for custom checkbox */
    cursor: pointer;
  }
    input[type="submit"], .cancel_button{
    appearance:none;
    -webkit-appearance:none;
    padding:10px;
    border:none;
    background-color:green;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:100%;
  }
  .cancel_button{
      background-color: red;
  }
  input, .cancel_button{
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    text-align: center;
  }
  input[type="text"]{
    border:1px solid #111;
    transition: .3s background-color;
  }
  input[type="text"]:hover {
    background-color: #fafafa;
  }
  textarea {
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:150px;
  }

/* FORM */
