{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h2>All courses</h2>
{% endblock %}
{% block main %}
<form action="" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Update">
</form>
{% for teacher in course.teachers.all %}
{{teacher.id}}</br>
{% endfor %}
{% endblock %}