<table class="table table-striped table-hover">
              <tr>
                <th>№</th>
                <th>Name</th>
                <th>Students</th>
                <th>Data of creation</th>
                <th>Teachers</th>
                <th>&#9998;</th>
                <th>🗑</th>
              </tr>

        {% for group in groups %}

              <tr>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.number_of_students }}</td>
                <td>{{ group.date_of_creation }}</td>
                <td>{{ group.get_teachers }}
                </td>
                <td><a href='{% url "groups:update" group.id %}'>UPDATE</a></td>
                <td><a href='{% url "groups:delete" group.id %}'>DELETE</a></td>
              </tr>
        {% endfor %}
    </table>