{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h1>Update Classrooms</h1>
{% endblock %}
{% block main %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Update">
    </form>
{% endblock %}