{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h1>All Classrooms</h1>
{% endblock %}
{% block main %}
    <form action="" method="POST">
        {{filter.form|crispy}}
        <input type="submit" value="Search">
    </form>
    {% for classroom in filter.qs%}
        {{classroom.name}} {{classroom.room_number}} <a href="{% url 'classrooms:update' classroom.id %}">EDIT</a> <a href="{% url 'classrooms:delete' classroom.id %}">DELETE</a><br>
    {% endfor %}
{% endblock %}